/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$orange: #FFB300;



body{
  background: #fff;
  font-family: Papyrus, fantasy;
}

nav.navbar-default{
  background: $orange ;
  border-color: $orange;
}
.navbar{
  border-radius: 0px;
  box-shadow: 0 0px 15px #2F3238;
  .navbar-brand{
    min-height: 100px;
  }
}

ul.nav.navbar-nav.navbar-right{
  .btn-in{
    background: #efefef;
    color: #fff;
  }
}


//carousel

// .carousel{
//   height: 100vh;
//   overflow: hidden;
// }

.carousel-control.right, .carousel-control.left{
  background-image: none;
  display: none;
}

.header-area{
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border-top: none;
}

.carousel-caption {
  position: absolute;
  left: 10%;
  right: 15%;
  bottom: 42%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.slide-2 {
  color: #fff;
}

.slide-1 {
  color: #000;
  text-shadow: none;
}

.about{
  text-align: center;
  background: #dadbdb;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
  h1{
    padding-bottom: 25px;
  }
}


@import "recipes";