/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'hover';


$green: #88dba3;
$lightgreen: #cff0da;
$darkgreen: #3ac569;
$grey: #dadbdb/* #dadbdb */;
$greengray: #BFD8D0;
$greenbg: rgba(136, 219, 163, 0.73);

body{
  background: #fff;
  font-family: Papyrus, fantasy;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.padding-top{
  padding-top: 30px;
}

.white-text{
  color: #fff;
}

.nav > li > a{
  color: #000;
}

.navbar-toggle .icon-bar{
  background: #000;
  border-radius: 0;
}

.hvr-sweep-to-top:before {
  background: $green;
}
.hvr-shutter-out-vertical{
  background: $green;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(229, 74, 74, 0.73);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


//carousel

// .carousel{
//   height: 100vh;
//   overflow: hidden;
// }

.carousel-control.right, .carousel-control.left{
  background-image: none;
  display: none;
}

.header-area{
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border-top: none;
}

.carousel-caption {
  position: absolute;
  left: 10%;
  right: 15%;
  bottom: 42%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.slide-2 {
  color: #fff;
}

.slide-1 {
  color: #000;
  text-shadow: none;
}

// Login Form

.form-bg {
  background-image: url('/assets/forms/knive.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  // text-align: center;
  height: 100vh;
  padding-top: 160px;
}

.sign-form-bg{
  background-image: url('/assets/forms/coffee.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  // text-align: center;
  height: 100vh;
  padding-top: 160px;
}


.login-inputs{
  border-radius: 0;
  background: none;
  color: $green;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
}

.login-inputs:focus{
  box-shadow: none;
  border-bottom: 1px solid $green;
}

.sign-inputs{
  border-radius: 0;
  background: none;
  color: $darkgreen;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
}

.sign-inputs:focus{
  box-shadow: none;
  border-bottom: 1px solid $darkgreen;
}

.submit-btn{
  border-radius: 0;
  background: $green;
  color: #fff;
}

btn-padding-l{
  padding-left: 10px;
}
.btn-padding{
  padding-right: 10px;
  padding-top: 10px;
}





@import "welcome";
@import "recipes";