// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #88dba3;
$lightgreen: #cff0da;
$darkgreen: #3ac569;
$grey: #dadbdb;

.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


$orange: #FFB300;
@mixin box-shadow{
  box-shadow: 0 5px 15px #909090;
  -webkit-box-shadow: 0 5px 15px #909090;
  -moz-box-shadow: 0 5px 15px #909090;
}


.panel{
  border: none;
  background: $green;
}

.box {
  @include box-shadow;
  border-radius: 0px;
  padding: 0;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 22px;
    margin: 0;
    padding: 25px 10px;
    a {
      color: $grey;
    }
  }
}



  .panel img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }

  //SHOW Recipe

  .header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  // text-align: center;
  color: white;

}
.intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

#overlay{
  padding: 50px 60px;
  background-color: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
}

.txt-center{
  text-align: center;
}


  #recipe-info{
    background: $orange;
  }

  .recipe-show{
    @include box-shadow;
  }

  .recipe_image{
    width: 100%;
    overflow: hidden;
  }

  .no-col-padl{
    padding-left: 0;
  }

  .no-col-padr{
    padding-right: 0;
  }

nav#recipe-menu{
  margin-bottom: 0px;
  background: #fff;
  border: none;
}