// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #88dba3;
$lightgreen: #cff0da;
$darkgreen: #3ac569;
$grey: #dadbdb/* #dadbdb */;
$greengray: #BFD8D0;
$lightgrey: #F5F5F5;

.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


$orange: #FFB300;

@mixin box-shadow1{
  box-shadow: 0 0 0 5px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow:0 0 0 5px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
  -moz-box-shadow:0 0 0 5px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
}
@mixin box-shadow{
  box-shadow: 0 9px 28px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 9px 28px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 9px 28px rgba(136, 219, 163, 0.47), 0 15px 12px rgba(0, 0, 0, 0.35);
}




.recipes-bg{
  background: $lightgrey;
}

.panel{
  border: none;
  background: $green;
}

.box {
  @include box-shadow1;
  border-radius: 0px;
  padding: 0;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 50px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #000;
  &:hover {
    transform: scale(1.075);
    color: #fff;
    @include box-shadow;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 30px;
    margin: 0;
    padding: 25px 10px;
    a {
      color: inherit;
    }
  }
}





  //SHOW Recipe

  .header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  // text-align: center;
  color: white;

}
.intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

#overlay{
  padding: 50px 60px;
  background-color: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
}

.txt-center{
  text-align: center;
}

.navbar-default .navbar-brand{
  color: inherit;
}

.recipe-name{
  padding-left:10px;
  padding-top: 0;
  padding-bottom: 5px;
  color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: $green;
  color: #fff;
}


  #recipe-info{
    background: $green;
  }

  .recipe-container{
    padding-bottom: 50px;
  }

  .recipe-show{
    @include box-shadow;
  }

  .recipe_image{
    width: 100%;
    overflow: hidden;
  }

  .no-col-padl{
    padding-left: 0;
  }

  .no-col-padr{
    padding-right: 0;
  }

nav#recipe-menu{
  margin-bottom: 0px;
  background: #fff;
  border: none;
}