// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$green: #88dba3;
$lightgreen: #cff0da;
$darkgreen: #3ac569;
$grey: #dadbdb/* #dadbdb */;
$greengray: #BFD8D0;
$greenbg: rgba(136, 219, 163, 0.73);


.about{
  text-align: center;
  background: $green;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
  h1{
    padding-bottom: 25px;
  }
}

.text-center{
  text-align: center;
}

.how-to{
  padding-top: 100px;
  padding-bottom: 100px;
  h1{
    padding-bottom: 25px;
  }
}

.instructions{
  padding-top: 30px;
  p {
    padding-bottom: 10px;
  }
}